@font-face {
  font-family: 'PT Sans', sans-serif;;
  src:url(../fonts/PT_Sans-Web-Regular.ttf);
  font-style: normal;
  font-weight: 400;
}
@font-face {
  font-family: 'FuturaPT-Book', sans-serif;
  src:url(../fonts/FuturaPT-Book.ttf);
  font-style: normal;
  font-weight: 400;
}
@font-face {
  font-family: 'FuturaPT-Medium', sans-serif;
  src:url(../fonts/FuturaPT-Medium.woff);
  font-style: normal;
  font-weight: 500;
}
@font-face {
  font-family: 'FuturaPT-Demi', sans-serif;
  src:url(../fonts/FuturaPT-Demi.ttf);
  font-style: normal;
  font-weight: 600;
}
@font-face {
  font-family: 'FuturaPT-Heavy', sans-serif;
  src:url(../fonts/FuturaPT-Heavy.ttf);
  font-style: normal;
  font-weight: 700;
}

@font-face {
  font-family: 'FuturaPT-Bold', sans-serif;
  src:url(../fonts/FuturaPT-Bold.woff);
  font-style: normal;
  font-weight: 900;
}

body{
  font-family: 'PT Sans', sans-serif;
  font-style: normal;
  font-weight: 400;
  color: #111;
}

html{
  box-sizing: border-box;
}

a{
  text-decoration: none;
  color: #111;
}

ul{
 margin: 0;
 padding: 0;
}
.promo{
  background-color: #000;
  background-image: url(../images/promo_bg.jpg);
  background-size: cover;
  background-position: center bottom;
  padding-top: 76px;
  padding-bottom: 330px;
}

.promo__container{
  width: 1160px;
  margin-left: auto;
  margin-right: auto;
}

.promo h1{
  width: 550px;
  font-size: 50px;
  color: #fff;
  font-family: FuturaPT-Bold, sans-serif;
  font-style: normal;
  font-weight: 700;
}

.promo h1 span{
  font-size: 38px;
  margin-top: 33px;
}

.header {
  width: 1160px;
  margin-left: auto;
  margin-right: auto;
  padding: 35px 0;
}

.header:after{
  content:'';
  display: block;
  clear: both;
}
.services:after{
  content:'';
  display: block;
  clear: both;
}

.advantages:after{
  content:'';
  display: block;
  clear: both;
}
.discount:after{
  content:'';
  display: block;
  clear: both;
}
.team:after{
  content:'';
  display: block;
  clear: both;
}
.community:after{
  content:'';
  display: block;
  clear: both;
}
.galery:after{
  content:'';
  display: block;
  clear: both;
}
.footer__container:after{
  content:'';
  display: block;
  clear: both;
}
.logo {
  float: left;
  width: 160px;
  height: 55px;
  vertical-align: top;
}

.logo img {
  display: block;
  width: 100%;
  /*чтоб уменьшилась картинка вместе с уменьшением размера div*/
}

.main-nav{
  float: left;
  width: 620px;
  text-align: center;
  padding: 18px 0;
}

.main-nav__item{
  font-family: 'FuturaPT-Demi', sans-serif;;
  font-style: normal;
  font-weight: 600;
  font-size: 15px;
  text-transform: uppercase;
  margin: 0 10px;
}

.header__contacts{
  float: right;
  width: 380px;
}
.header__contacts:after{
 content: '';
 display: inline-block;
}

.main-nav li{
  display: inline-block;
  margin: 0 5px;
}

.contacl-link{
  float: left;
  font-family: 'FuturaPT-Demi', sans-serif;;
  font-size: 22px;
  padding: 15px 0;
}

.btn--float-right{
  float: right;
  margin: 6px 0;
}

.btn{
  display: inline-block;
  text-decoration: none;
  padding: 11px 0px;
  width: 135px;
  color: #74e196;
  text-align: center;
  border: 2px solid #000 ;
  font-family: FuturaPT-Heavy, sans-serif;
  font-size: 15px;
  text-transform: uppercase;
}

.btn-invert{
  text-decoration: none;
  padding: 17px;
  color: #74e196;
  border: 2px #fff solid;
  font-family: FuturaPT-Heavy, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 15px;
  text-transform: uppercase;
}

[class*="title"]{
  text-align: center;
}
[class*="subtitle"]{
  text-align: center;
}
.services{
  width: 1160px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 37px;
  font-size: 0px;
}

.services__title{
  font-family: 'FuturaPT-Heavy', sans-serif;;
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  margin: 0px 0px 37px 0px;
}

.services__descr{
  margin-bottom: 40px;
  font-family: 'FuturaPT-Medium', sans-serif;;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  text-align: center;
}
.services__subtitle {
  font-family: 'FuturaPT-Demi', sans-serif;;
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  text-align: left;
}
.services__time {
  font-family: 'FuturaPT-Demi', sans-serif;;
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
}
.service__article{
  width: 360px;
  float: left;
}

.service__article--course{
  display: inline-block;
  margin-left: 40px;
}

.service__article--course:last-child{
  margin-top: 40px;
}

.service__photo{
  margin-bottom: 40px;
}


.service__info--course{
  vertical-align: top;
  margin-left: 40px;
  width: 360px;
  height: 217px;
  display: inline-block;
}

.services p{
  font-size: 15px;
}

.service__links{

}

.services__time{
  float: left;
}
.service_more{
  float: right;
}

.advantages{
  width: 1160px;
  margin-left: auto;
  margin-right: auto;
}

.advantages__title{
  font-family: 'FuturaPT-Heavy', sans-serif;;
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
}
.advantages__subtitle{
  font-family: 'FuturaPT-Demi', sans-serif;;
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
}

.advantages__list{
  padding-left:0px;
}
.advantages__item{
  display: inline-block;
  width: 360px;
}

.discount{
  background-image: url(../images/discount_bg.jpg);
  height: 362px;
  color: #fff;
}
.discount__container{
  width: 1160px;
  margin-left: auto;
  margin-right: auto;
}
.discount__subtitle{
  font-family: 'FuturaPT-Demi', sans-serif;;
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  color: #fff;
}

.discount__list{
  padding-left:0px;
}

.discount__item{
  display: inline-block;
  width: 250px;
}

.discount__descr--accent{
  color: #83eba5;
}

.team{
  width: 1160px;
  margin-left: auto;
  margin-right: auto;
}

.team__title{
  font-family: 'FuturaPT-Heavy', sans-serif;;
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
}

.team__descr{
  width: 800px;
  /*text-align: center;*/
}

.community{
  width: 1160px;
  margin-left: auto;
  margin-right: auto;
}

.community__title{
  font-family: 'FuturaPT-Heavy', sans-serif;;
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
}

.galery{
  width: 1160px;
  margin-left: auto;
  margin-right: auto;
}

.galery__title{
  font-family: 'FuturaPT-Heavy', sans-serif;;
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
}

footer{
  background-image: url(../images/footer_bg.jpg);
}
.social {
  padding-left:0px;
}
.social__item{
  display: inline-block;
}

[class*=social__link]{
  background-image: url(../images/soc_ico.png);
  background-repeat: no-repeat;
  display: inline-block;
}

.social__links-fb {
  width: 40px;
  height: 40px;
  background-position: -5px -5px;
}

.social__links-in {
  width: 40px;
  height: 40px;
  background-position: -55px -5px;
}

.social__links-vk {
  width: 40px;
  height: 40px;
  background-position: -5px -55px;
}

.social__links-yt {
  width: 40px;
  height: 40px;
  background-position: -55px -55px;
}
.mail-link{
  font-family: 'FuturaPT-Demi', sans-serif;;
  font-style: normal;
  font-weight: 600;
  font-size: 22px;
}
/*instructors.html*/
.instructors{
  width: 1160px;
  margin-left: auto;
  margin-right: auto;
}

.instructors__title{
  font-family: 'FuturaPT-Heavy', sans-serif;;
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
}
figure{
  margin:0px;
}
.instructor__list-photo img{
   width: 230px;
  height: 232px;
}
.instructor__list-photo{
  display: inline-block;
/*  float: left;*/
}

.instructor__list-photo--active{
  display: inline-block;
/*  float: left;*/
}

.instructor__list-name{
  font-family: 'FuturaPT-Medium', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  color: #000;
  line-height: 23px;
}

.review{
  background-image: url(../images/Snowboard-Wallpaper-Nicolas-Muller-Laax-1920x1080.jpg);
  width: 1040px;
  height: 225px;
}

.program {
  width: 1160px;
  margin: 0px auto 0px auto;
}
.program__list{
  width: 1160px;
  border: 1px solid #000;
}

.program__title{
  font-family: 'FuturaPT-Heavy', sans-serif;;
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
}
.program__list-title {
  font-family: 'FuturaPT-Medium', sans-serif;;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
}

.program-info {
  width: 1160px;
  margin: 0px auto 0px auto;
}
.program-info__title {
  font-family: 'FuturaPT-Demi', sans-serif;;
  font-style: normal;
  font-weight: 600;
  font-size: 30px;
  color: #000;
}

.program-info__subtitle{
  font-family: 'FuturaPT-Medium', sans-serif;;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
}

.program-info__photo img{
  border: 3px solid #8de8ab;
  border-radius: 100px;
}

.program-info__name{
  padding: 8px 19px;
  width: 160px;
  background-color: #000;
  color: #fff;
  font-family: 'FuturaPT-Book', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  text-align: center;
}

.form-call {
  width: 1160px;
  margin: 0px auto 0px auto;
}
.form-call__title {
  font-family: 'FuturaPT-Demi', sans-serif;;
  font-style: normal;
  font-weight: 600;
  font-size: 30px;
  color: #000;
}