@font-face {
  font-family: 'PT Sans', sans-serif;;
  src:url(../fonts/PT_Sans-Web-Regular.ttf);
  font-style: normal;
  font-weight: 400;
}
@font-face {
  font-family: 'FuturaPT-Book', sans-serif;
  src:url(../fonts/FuturaPT-Book.ttf);
  font-style: normal;
  font-weight: 400;
}
@font-face {
  font-family: 'FuturaPT-Medium', sans-serif;
  src:url(../fonts/FuturaPT-Medium.woff);
  font-style: normal;
  font-weight: 500;
}
@font-face {
  font-family: 'FuturaPT-Demi', sans-serif;
  src:url(../fonts/FuturaPT-Demi.ttf);
  font-style: normal;
  font-weight: 600;
}
@font-face {
  font-family: 'FuturaPT-Heavy', sans-serif;
  src:url(../fonts/FuturaPT-Heavy.ttf);
  font-style: normal;
  font-weight: 700;
}

@font-face {
  font-family: 'FuturaPT-Bold', sans-serif;
  src:url(../fonts/FuturaPT-Bold.woff);
  font-style: normal;
  font-weight: 900;
}

body{
  font-family: 'PT Sans', sans-serif;
  font-style: normal;
  font-weight: 400;
  color: #111;
}

.container{
  width: 1160px;
  margin-left: auto;
  margin-right: auto;
}

.promo{
  background-image: url(../images/promo_bg.jpg);
  background-repeat: no-repeat;
  width: 1280px;
  height: 536px;
  padding-top: 76px;
  margin-bottom: 37px;
}

.promo h1{
  width: 550px;
  font-size: 50px;
}

.promo h1 span{
  font-size: 38px;
  margin-top: 33px;
}

h1 {
  color: #fff;
  font-family: FuturaPT-Bold, sans-serif;
  font-style: normal;
  font-weight: 700;
}

.logo {
  display: inline-block;
  width: 160px;
  height: 55px;
  vertical-align: middle;
}

.main-nav{
  display: inline-block;
/*  float: right;*/
}

.main-nav li{
  display: inline-block;
}

.title{
  font-family: 'FuturaPT-Heavy', sans-serif;;
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
}

.subtitle{
  font-family: 'FuturaPT-Demi', sans-serif;;
  font-style: normal;
  font-weight: 600;
}

.item_advantage{
  display: inline-block;
  width: 360px;
}

.discount{
  background-image: url(../images/discount_bg.jpg);
  color: #fff;
}

footer{
  background-image: url(../images/footer_bg.jpg);
}
