@font-face {
  font-family: 'PT Sans', sans-serif;
  src:url(../fonts/PT_Sans-Web-Regular.ttf);
  font-style: normal;
  font-weight: 400;
}
@font-face {
  font-family: 'FuturaPT-Book', sans-serif;
  src:url(../fonts/FuturaPT-Book.ttf);
  font-style: normal;
  font-weight: 400;
}
@font-face {
  font-family: 'FuturaPT-Medium', sans-serif;
  src:url(../fonts/FuturaPT-Medium.woff);
  font-style: normal;
  font-weight: 500;
}
@font-face {
  font-family: 'FuturaPT-Demi', sans-serif;
  src:url(../fonts/FuturaPT-Demi.ttf);
  font-style: normal;
  font-weight: 600;
}
@font-face {
  font-family: 'FuturaPT-Heavy', sans-serif;
  src:url(../fonts/FuturaPT-Heavy.ttf);
  font-style: normal;
  font-weight: 700;
}

@font-face {
  font-family: 'FuturaPT-Bold', sans-serif;
  src:url(../fonts/FuturaPT-Bold.woff);
  font-style: normal;
  font-weight: 900;
}

body{
  font-family: 'PT Sans', sans-serif;
  font-style: normal;
  font-weight: 400;
  color: #111;
}

html{
  box-sizing: border-box;
}

a{
  text-decoration: none;
  color: #111;
}

ul{
 margin: 0;
 padding: 0;
}

.promo{
  background-color: #000;
  background-image: url(../images/promo_bg.jpg);
  background-size: cover;
  background-position: -380px bottom;
  padding-top: 76px;
  padding-bottom: 76px;
}

.promo__container{
  width: 90vw;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
}

.promo h1{
  width: 250px;
  font-size: 24px;
  color: #fff;
  font-family: FuturaPT-Bold, sans-serif;
  font-style: normal;
  font-weight: 700;
}

.promo h1 span{
  font-size: 18px;
  margin-top: 33px;
}

.header{
  position: absolute;
  /*position: static;*/
  top: 0;
  width: 100vw;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
}

.logo {
  position: relative;
  top: 15px;
  left: 15px;
  width: 65px;
  height: 22px;
  vertical-align: top;
}

.logo img {
  display: block;
  width: 100%;
  /*чтоб уменьшилась картинка вместе с уменьшением размера div*/
}

.logo--invert img {
  display: block;
  width: 100%;
  /*чтоб уменьшилась картинка вместе с уменьшением размера div*/
  filter: invert(1);
}

.logo-dMenu {
  display: block;
  position: absolute;
  top: 15px;
  left: 15px;
  width: 65px;
  height: 22px;
  vertical-align: top;
}

.logo-dMenu img{
  width: 100%;
}

.logo-dMenu--show{
  display: block;
}

.header-nav{
  display: none;
  position: absolute;
  top: 0px;
  padding-top: 71px;
  padding-bottom: 33px;
  width: 100vw;
  background-color: #fff;
  color: #000;
  text-align: center;
  z-index: 2;
}

.main-nav__ico{
  position: relative;
  user-select: none;
  right: 15px;
  top: 15px;
  z-index: 3;
}

.nav-burger{
  top: 15px;
  background-image: url(../images/burger.svg);
  background-size: 100%;
  right: 15px;
  width: 34px;
  height: 22px;
  user-select: none;
}

.nav-burger--invert{
  top: 15px;
  background-image: url(../images/burger.svg);
  background-size: 100%;
  right: 15px;
  width: 34px;
  height: 22px;
  user-select: none;
  filter: invert(1);
}


.nav-close{
  top: 15px;
  background-image: url(../images/close.svg);
  background-size: 100%;
  right: 15px;
  width: 22px;
  height: 22px;
  user-select: none;
}


.main-nav__list li{
  padding: 15px 0 15px 0;
  border-bottom: 1px solid #74e196
}

.main-nav__item{
  font-family: 'FuturaPT-Demi', sans-serif;;
  font-style: normal;
  font-weight: 600;
  font-size: 15px;
  text-transform: uppercase;
  margin: 0 10px;
}

.social-header{
  margin: 20px auto 33px auto;
}

.header__contacts{
  display: flex;
  flex-direction: column;
}

.header__contacts .mail-link{
  margin-top: 15px;
  margin-bottom: 38px;
}

@media(min-width:1280px){
  .main-nav__list{
    display: block;
  }
  .main-nav__burger{
    display: none;
  }
}

.btn--float-right{
  display: none;
}

.btn{
  display: block;
  text-decoration: none;
  padding: 11px 0px;
  width: 135px;
  color: #74e196;
  text-align: center;
  border: 2px solid #000 ;
  font-family: FuturaPT-Heavy, sans-serif;
  font-size: 15px;
  text-transform: uppercase;
}

.btn--top-mobile{
  /*display: block;*/
  margin: 0 auto;
  color: #fff;
  text-align: center;
  border: 2px solid #74e196;
  margin-top: 168px;
}

.btn--center{
  margin: 0 auto 0 auto;
}

.btn--header{
  margin: 0 auto 0 auto;
}

.btn--wide{
  width: 224px;
}

[class*="title"]{
  text-align: center;
}
[class*="subtitle"]{
  text-align: center;
}

.services{
  width: 90vw;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}

.services__title{
  font-family: 'FuturaPT-Heavy', sans-serif;;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  margin: 12px 0 12px 0;
}

.services__descr{
  margin: 0 0 12px 0;
  font-family: 'FuturaPT-Medium', sans-serif;;
  font-style: normal;
  font-weight: 500;
  font-size: 10px;
  text-align: center;
}
.services__subtitle {
  font-family: 'FuturaPT-Demi', sans-serif;;
  font-style: normal;
  font-weight: 600;
  font-size: 10px;
  text-align: left;
}

.services-content{
  width: 100vw;
  margin: 0 -5vw;
}

.service__article--float-left{
  width: 60vw;
  float: left;
  margin-right: 0.3vw;
}

.service__article{
  display: flex;
}

.service__article:last-child{
  margin-top: 0.3vw;
}

.service__photo{
  position: relative;
  width: 60vw;
  height: 60vw;
  float: left;
}
.service__photo img{
  width: 100%;
  height: 100%;
}

.service__photo--grad{
  position: absolute;
  top: 0;
  width: 100%;
  height: 58%;
  margin-top: 42%;
  background: linear-gradient(0deg, rgba(0, 0, 0, .7), rgba(0, 0, 0, .00));
}
.service__photo--grad--course{
  position: absolute;
  top: 0;
  width: 100%;
  height: 20vw;
  margin-top: 9.85vw;
  background: linear-gradient(0deg, rgba(0, 0, 0, .7), rgba(0, 0, 0, .00));

}
.service__photo-links{
  position: absolute;
  display: flex;
  width: 93.5%;
  margin-top: -22px;
  margin-left: 1.9vw;
  margin-right: 4.6vw;
  color: #fff;
  font-size: 14px;
  justify-content: space-between;
}

.service_more{
  background-image: url(../images/right-arrow.png);
  background-size: 100%;
  background-repeat: no-repeat;
  width: 19px;
  height: 14px;
}

.service__photo--course{
  position: relative;
  width: 39.7vw;
  height: 29.85vw;
}

.service__photo--course img{
  width: 100%;
  height: 100%;
}

.service__info--course{
  display: none;
}

.service__info{
  display: none;
  flex-direction: column;
  height: 244px;
}

.services p{
  display: none;
  font-size: 15px;
  max-height: 160px;
  overflow: hidden;
}

.service__links{
  display: none;
  margin-top:auto;
}

.services__time{
  display: none;
  float: left;
}

.advantages{
  width: 90vw;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}

.advantages__title{
  font-family: 'FuturaPT-Heavy', sans-serif;;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  margin: 12px 0 12px 0;
}

.advantages__subtitle {
  font-family: 'FuturaPT-Demi', sans-serif;;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  text-align: left;
}

.advantages__ico{
  width: 67px;
  display: flex;
  align-items: ;
}
.advantages__ico img{
  margin-left: auto;
}

.advantages__descr{
  display: flex;
  flex-direction: column;
  margin-left: 19px;
  width: 204px;
}

.advantages__descr p{
  margin-top: 8px;
  font-size:12px ;
}
.advantages__item{
  display: inline-flex;
  position: relative;
}

.advantages__ico {
    background-image: url(../images/spritesheet.png);
    background-repeat: no-repeat;
    display: block;
}

.ico-bus {
    width: 46px;
    height: 31px;
    background-position: -5px -5px;
}

.ico-bus-lg {
    width: 80px;
    height: 55px;
    background-position: -61px -5px;
}

.ico-certificate {
    width: 47px;
    height: 53px;
    background-position: -151px -5px;
}

.ico-certificate-lg {
    width: 53px;
    height: 61px;
    background-position: -208px -5px;
}

.ico-helmet {
    width: 45px;
    height: 57px;
    background-position: -319px -5px;
}

.ico-helmet-lg {
    width: 58px;
    height: 71px;
    background-position: -374px -5px;
}

.ico-like {
    width: 47px;
    height: 48px;
    background-position: -514px -5px;
}

.ico-like-lg {
    width: 60px;
    height: 61px;
    background-position: -571px -5px;
}

.ico-ski {
    width: 47px;
    height: 57px;
    background-position: -641px -5px;
}

.ico-ski-lg {
    width: 61px;
    height: 75px;
    background-position: -698px -5px;
}

.ico-today {
    width: 45px;
    height: 47px;
    background-position: -769px -5px;
}

.ico-today-lg {
    width: 58px;
    height: 61px;
    background-position: -824px -5px;
}

.discount{
  background-image: url(../images/discount_bg.jpg);
  background-size: cover;
  background-position: center bottom;
  padding-top: 15px;
  padding-bottom: 56px;
  color: #fff;
}
.discount__container{
  width: 290px;
  /*width: 90vw;*/
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}
.discount__title{
  font-family: 'FuturaPT-Heavy', sans-serif;;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  margin: 0px 0px 84px 0px;
  color: #fff;
}
.discount__subtitle{
  font-family: 'FuturaPT-Demi', sans-serif;;
  font-style: normal;
  font-weight: 600;
  font-size: 22px;
  color: #fff;
}

.discount__list{
  margin-bottom: 46px;
  display: flex;
  justify-content:space-around;
  flex-wrap: wrap;
  font-size: 20px;
  font-family: 'FuturaPT-Book', sans-serif;
  font-weight: 400;
}

.discount__descr--accent{
  color: #83eba5;
}

.discount__list li{
  display: none;
}
.discount__list li:first-child{
  display: block;
}

.discount__item{
  display: inline-flex;
  flex-direction: column;
  width: 70vw;
  text-align: center;
}

.btn-invert{
  display: none;
}

.team{
  width: 100vw;
  overflow: hidden;
}

.team-container{
  width: 90vw;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
}

.team__title{
  margin: 14px 0 12px 0;
}

.team__photo{
  text-align: center;
}

.team__photo img{
  position: relative;
  left: -200px;
  width: 670px;
  height: 377px;
}

.team__descr{
  display: none;
}

.team__content .btn{
  position: relative;
  margin-top: -30px;
}

.community{
  width: 90vw;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
}

.community__title{
  font-family: 'FuturaPT-Heavy', sans-serif;;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  margin: 45px 0 24px 0;
}

.community_descr{
  margin-top: 0;
  font-size: 12px;
}

#mymap{
  width: 100vw;
  margin-left: -5vw;
  height: 320px;
  background-color: #e9eee4;
}

.galery{
  width: 100vw;
  display: flex;
  flex-direction:column;
  /*overflow: hidden;*/
}

.galery__title{
  margin: 19px auto 26px auto;
  font-family: 'FuturaPT-Heavy', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
}
.galery__photos{
  display: flex;
  width: 100vw;
  flex-wrap: wrap;
  justify-content: space-between;
}


.galery__item{
  overflow: hidden;
  margin-bottom: 0.3vw;
}

.galery__item:nth-child(3n){
  display: none;
}

.galery__item:nth-child(4n+1){
  width: 56vw;
  height:56vw;
  max-width: 180px;
  max-height: 180px;
}

.galery__item:nth-child(2n){
  width: 43.7vw;
  max-width: 180px;
  height: 56vw;
  max-height: 180px;
}

.galery__item img{
  /*width: 100%;*/
  height: 100%;
}

@media(min-width: 362px){
  .galery{
    width: 90vw;
    display: flex;
    flex-direction:column;
    /*overflow: hidden;*/
  }
  .galery__item{
    overflow: hidden;
    margin-bottom: 2vw;
  }
  .galery__photos{
    /*width: 90vw;*/
    justify-content: space-around;
  }
  .galery__item:nth-child(2n){
    width: 180px;
    height: 180px;
  }
}
/*instructors*/

footer{
  background-image: url(../images/footer_bg.jpg);
  background-size: cover;
  background-position: -150px bottom;
  padding-top: 20px;
  padding-bottom: 8px;
}

.footer__container{
  width: 90vw;
  display: flex;
  flex-direction:column;
  margin: 0 auto;
}

.logo__footer{
  margin: 0 auto;
  width: 65px;
  height: 22px;
  text-align: center;
}

.logo__footer img{
  width: 65px;
  height: 22px;
}

.social {
  padding-left:0px;
  width: 140px;
  display: flex;
  justify-content: space-around;
  text-align: center;
}

.social-footer{
  margin: 50px auto 47px auto;
}

.social__item{
  display: inline-block;
}

[class*=social__link]{
  background-image: url(../images/spritesheet.png);
  background-repeat: no-repeat;
  display: inline-block;
}

.social__links-fb {
    width: 10px;
    height: 21px;
    background-position: -271px -5px;
}

.social__links-fb--lg {
    width: 18px;
    height: 33px;
    background-position: -291px -5px;
}
.social__links-in {
    width: 20px;
    height: 20px;
    background-position: -442px -5px;
}

.social__links-in--lg {
    width: 32px;
    height: 32px;
    background-position: -472px -5px;
}
.social__links-vk {
    width: 25px;
    height: 20px;
    background-position: -892px -2px;
}

.social__links-vk--lg {
    width: 40px;
    height: 24px;
    background-position: -927px -5px;
}

.social__links-yt{
    width: 20px;
    height: 20px;
    background-position: -977px -5px;
}

.social__links-yt--lg {
    width: 32px;
    height: 32px;
    background-position: -1007px -5px;
}

.footer__nav{
  display: none;
}

.footer__contacts{
  display: flex;
  flex-direction: column;
  text-align: center;
}

.phone-link{
  font-family: 'FuturaPT-Demi', sans-serif;
  font-style: normal;
  font-size: 22px;
}

.mail-link{
  font-family: 'FuturaPT-Demi', sans-serif;
  font-style: normal;
  font-size: 20px;
  margin: 8px 0 20px 0;
}

.copyrigth{
  font-family: 'FuturaPT-Demi', sans-serif;
  font-style: normal;
  font-size: 12px;
  text-align: center;
}

.instructors__title{
  margin-top: 67px;
}

.instructors{
  width: 100vw;
  display: inline-flex;
  flex-direction: column;
}

.instructor__list-name{
  position: relative;
}

.instructor__list-name{
  position: absolute;
  margin-top: -56px;
  margin-left: 18px;
  font-family: 'FuturaPT-Medium', sans-serif;
  color: #fff;
}

.instructor__list-photo{
  position: relative;
  width: 230px;
  height: 232px;
}

.instructor__list-photo img{
  width: 100%;
  height: 100%;
}
.instructor__list--hover{
  position: absolute;
  top: 0;
  background-color: rgba(0,0,0,0.3);
  width: 100%;
  height: 100%;
}

.instructors__search{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90vw;
  margin: 0 auto 0 auto;
  padding: 9px;
  border: 1px solid #000;
  box-sizing: border-box;
}

.instructors__search input{
  width: 80vw;
}

.instructors__search input::placeholder{
  font-family: 'PT Sans', sans-serif;
  font-size: 12px;
}

.instructors__search button{
  border: none;
  /*background-color: #4CAF50;*/
  background-image: url(../images/search.svg);
  background-repeat: no-repeat;
  background-size: 100%;
  width: 17px;
  height: 17px;
  right: 6px;
}

.instructor-card{
  width: 90vw;
  margin: 7px auto 0 auto;
}

